node_modules/
www/index.html
android/local.properties
android/.gradle/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/
*.apk
gridphoto-release.keystore
keystore.properties
